@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  margin: 0%;
  padding: 0%;
  font-family: 'Work Sans', sans-serif;
}

.navbar {
  background-color: rgba(0, 123, 255, 0.213);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: right;
  transition: all 0.5s ease;
  height: 3rem;
}
.nav-list a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 570;
}

.nav-list li {
  text-transform: uppercase;
  padding-right: 30px;
  margin-top: 15px;
  transition: 1s;
  font-weight: 400;
}

.nav-list li:hover{
    transform: scale(1.2);
}

.head{
    margin-top: 1rem;
}

.head h1{
    font-size: 3.2rem;
    text-align: center;
}

.head h1 span{
    color: rgba(0, 0, 255, 0.57);
}

/* form  */

.contact-form{
  border: 2px solid pink;
  height: 70vh;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.box{
  border: 2px solid black;
  height: 65vh;
  width: 80vw;
  margin-top: 10px;
}

.name-email{
  display: flex;
}

.name{
  margin-left: auto;
}

.email{

}

.subject{
}

.msg{

}

.btn{

}